

body {
	text-align: center;
	color: #7A0000;
	font-size: 35px;
	font-family: 'EB Garamond', serif;
}

h1 {
	font-size: 100px;
	font-family: 'Bungee', cursive;
}

hr {
	width: 600px;
	color: #7A0000;
}